.container {
    margin-top: 15px;
}

.btnBack {
  background-color: #46638e;
  padding: 6px 13px;
  color: #cabea2;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btnBack:hover {
  background-color: #55a39e;
}
.btnBack:active {
  background-color: royalblue;
}

.linkInfo.active {
  border: 1px solid red;
}



/* .color1 {color: #d8c1c1;}
.color2 {color: #cabea2;}
.color3 {color: #46638e;}
.color4 {color: #55849e;}
.color5 {color: #55a39e;} */



