.container {
    display: flex;
    margin-top: 15px;
}

.imgContainer {
    margin-right: 20px;
}

.genresList {
    list-style: none;
    padding-left: 0;
    margin-left: 10px;
    display: flex;
    gap: 15px;
}
.overview {
    margin-left: 10px;
}