.cardWrapp {
  border-radius: 7px;
  padding: 5px;
  background-color: #46638e7c;

  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  
}

.image {
  max-width: 250px;
  transition: transform 0.3s ease;
  border-radius: 3px ;
}
.image:hover {
  transform: scale(1.03);
}

.text{
   color: d8c1c1;
}
.textWrap {
  display: flex;
  text-align: center;
}


/* .color1 {color: #d8c1c1;}
.color2 {color: #cabea2;}
.color3 {color: #46638e;}
.color4 {color: #55849e;}
.color5 {color: #55a39e;} */
